button,
.ant-btn {
	@include btn;

	&.btn-search-icon {
		gap: 4px;
		font-weight: var(--font-normal);
		&::after {
			content: '';
			display: inline-block;
			width: 16px;
			height: 16px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 14L11.1 11.1M12.6667 7.33333C12.6667 10.2789 10.2789 12.6667 7.33333 12.6667C4.38781 12.6667 2 10.2789 2 7.33333C2 4.38781 4.38781 2 7.33333 2C10.2789 2 12.6667 4.38781 12.6667 7.33333Z' stroke='%23111111' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}
	}

	&.btn-upload,
	&.btn-download,
	&.btn-external {
		display: inline-flex;
		align-items: center;
		&::after {
			content: '';
			display: inline-block;
			width: 12px;
			height: 100%;
			margin-left: 2px;
			background-repeat: no-repeat;
			background-position: center;
			vertical-align: top;
			transition: 0s;
		}
	}

	&.btn-upload::after {
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_202_370)'%3E%3Cpath d='M9 2.5C9.27614 2.5 9.5 2.27614 9.5 2C9.5 1.72386 9.27614 1.5 9 1.5L9 2.5ZM3 1.5C2.72386 1.5 2.5 1.72385 2.5 2C2.5 2.27614 2.72386 2.5 3 2.5L3 1.5ZM5.5 11C5.5 11.2761 5.72386 11.5 6 11.5C6.27614 11.5 6.5 11.2761 6.5 11L5.5 11ZM6 4L6.35355 3.64644C6.25979 3.55268 6.13261 3.5 6 3.5C5.86739 3.5 5.74022 3.55268 5.64645 3.64644L6 4ZM3.14645 6.14645C2.95118 6.34171 2.95118 6.65829 3.14645 6.85355C3.34171 7.04881 3.65829 7.04881 3.85355 6.85355L3.14645 6.14645ZM8.14645 6.85355C8.34171 7.04881 8.65829 7.04881 8.85355 6.85355C9.04882 6.65829 9.04882 6.34171 8.85355 6.14645L8.14645 6.85355ZM9 1.5L3 1.5L3 2.5L9 2.5L9 1.5ZM6.5 11L6.5 4L5.5 4L5.5 11L6.5 11ZM3.85355 6.85355L6.35355 4.35355L5.64645 3.64644L3.14645 6.14645L3.85355 6.85355ZM5.64645 4.35355L8.14645 6.85355L8.85355 6.14645L6.35355 3.64644L5.64645 4.35355Z' fill='%23111111'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_202_370'%3E%3Crect width='12' height='12' fill='white' transform='translate(12 12) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}

	&.btn-download::after {
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 11H9M6 1V9.02469M6 9.02469L8.5 6.55556M6 9.02469L3.5 6.55556' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	}

	&.btn-external::after {
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66677 2.53333H3.70677C3.10938 2.53333 2.81046 2.53333 2.58229 2.64959C2.38159 2.75186 2.21852 2.91492 2.11626 3.11563C2 3.3438 2 3.64271 2 4.2401V8.29344C2 8.89083 2 9.18937 2.11626 9.41754C2.21852 9.61824 2.38159 9.78159 2.58229 9.88385C2.81024 10 3.1088 10 3.70502 10H7.76165C8.35787 10 8.656 10 8.88394 9.88385C9.08465 9.78159 9.24826 9.61809 9.35052 9.41738C9.46667 9.18943 9.46667 8.8912 9.46667 8.29498V7.33333M10 4.66667V2M10 2H7.33333M10 2L6.26667 5.73333' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	}

	&.ant-btn-icon-only {
		width: unset;
		height: unset;
		padding: 0;
		background-color: transparent;
		border: none;
	}

	@at-root {
		.dark-mode {
			.ant-btn {
				&.btn-upload::after {
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_202_370)'%3E%3Cpath d='M9 2.5C9.27614 2.5 9.5 2.27614 9.5 2C9.5 1.72386 9.27614 1.5 9 1.5L9 2.5ZM3 1.5C2.72386 1.5 2.5 1.72385 2.5 2C2.5 2.27614 2.72386 2.5 3 2.5L3 1.5ZM5.5 11C5.5 11.2761 5.72386 11.5 6 11.5C6.27614 11.5 6.5 11.2761 6.5 11L5.5 11ZM6 4L6.35355 3.64644C6.25979 3.55268 6.13261 3.5 6 3.5C5.86739 3.5 5.74022 3.55268 5.64645 3.64644L6 4ZM3.14645 6.14645C2.95118 6.34171 2.95118 6.65829 3.14645 6.85355C3.34171 7.04881 3.65829 7.04881 3.85355 6.85355L3.14645 6.14645ZM8.14645 6.85355C8.34171 7.04881 8.65829 7.04881 8.85355 6.85355C9.04882 6.65829 9.04882 6.34171 8.85355 6.14645L8.14645 6.85355ZM9 1.5L3 1.5L3 2.5L9 2.5L9 1.5ZM6.5 11L6.5 4L5.5 4L5.5 11L6.5 11ZM3.85355 6.85355L6.35355 4.35355L5.64645 3.64644L3.14645 6.14645L3.85355 6.85355ZM5.64645 4.35355L8.14645 6.85355L8.85355 6.14645L6.35355 3.64644L5.64645 4.35355Z' fill='%23ffffff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_202_370'%3E%3Crect width='12' height='12' fill='white' transform='translate(12 12) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				}

				&.btn-download::after {
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 11H9M6 1V9.02469M6 9.02469L8.5 6.55556M6 9.02469L3.5 6.55556' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				}

				&.btn-external::after {
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66677 2.53333H3.70677C3.10938 2.53333 2.81046 2.53333 2.58229 2.64959C2.38159 2.75186 2.21852 2.91492 2.11626 3.11563C2 3.3438 2 3.64271 2 4.2401V8.29344C2 8.89083 2 9.18937 2.11626 9.41754C2.21852 9.61824 2.38159 9.78159 2.58229 9.88385C2.81024 10 3.1088 10 3.70502 10H7.76165C8.35787 10 8.656 10 8.88394 9.88385C9.08465 9.78159 9.24826 9.61809 9.35052 9.41738C9.46667 9.18943 9.46667 8.8912 9.46667 8.29498V7.33333M10 4.66667V2M10 2H7.33333M10 2L6.26667 5.73333' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}

	&.icon-position-end {
		flex-direction: row-reverse;
		&:not(.ant-bnt-icon-only) {
			.ant-btn-icon:not(:last-child) {
				margin-inline-start: 2px;
				margin-inline-end: 0;
			}
		}
	}

	&.btn-save {
		@include btnPrimaryLine;
	}

	@at-root {
		.ant-input-blue,
		.sap {
			.ant-btn {
				border-color: var(--sap-line-color) !important;

				&:disabled {
					background-color: var(--sap-disabled-bg);
				}
			}
		}

		.tbl {
			.btn-search-icon {
				height: 28px;
			}
		}
	}
}

.btn-refresh,
.btn-search-single {
	// @include btn;
	flex-shrink: 0;
	width: 28px;
	height: 28px;
	justify-content: center;
	padding: 0;
	margin-bottom: auto;

	svg {
		path {
			stroke: var(--base-color);
		}
	}
}

.btn-refresh {
	svg {
		width: 13px;
		height: 13px;
	}
}

/* .dark-mode {
	.btn-refresh,
	.btn-search-single {
		svg {
			path {
				stroke: #fff;
			}
		}
	}
} */

// 페이지 상단 버튼
.btnGroup {
	button,
	.ant-btn {
		height: 32px;
		padding: 0 16px;
		font-size: 14px;
		font-weight: var(--font-medium);
		text-align: center;

		@include btnPrimaryLine;

		&:not(.default):not(.success):disabled {
			border-color: var(--btn-disabled-line-color) !important;
			color: var(--btn-disabled-color) !important;
		}

		& + button {
			margin-left: 4px;
		}

		&.btn-search,
		&.btn-save,
		&.btn-new,
		&.plus,
		&.check,
		&.excel,
		&.down {
			min-width: 90px;
			&::after {
				content: '';
				display: inline-block;
				height: 100%;
				margin-left: 2px;
				background-repeat: no-repeat;
				background-position: center center;
				vertical-align: top;
			}
		}

		&.btn-delete {
			@include btnDangerLine;
		}

		&.btn-search {
			&::after {
				width: 14px;
				margin-left: 4px;
				background-image: var(--icon-top-search);
			}

			&:disabled::after {
				background-image: var(--icon-top-search-disabled);
			}
		}

		&.btn-new,
		&.plus {
			&::after {
				width: 14px;
				background-image: var(--icon-top-new);
			}
			&:disabled::after {
				background-image: var(--icon-top-new-disabled);
			}
		}

		&.btn-save,
		&.check {
			&::after {
				width: 14px;
				background-image: var(--icon-top-save);
			}
			&:disabled::after {
				background-image: var(--icon-top-save-disabled);
			}
		}

		&.excel,
		&.down {
			&::after {
				width: 14px;
				background-image: var(--icon-top-down);
			}
			&:disabled::after {
				background-image: var(--icon-top-down-disabled);
			}
		}
	}
}

/* .btn-only {
	margin-bottom: 40px;
} */

//버튼 ? TODO
button.secondary {
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--fp-color-secondary);
	border-color: var(--fp-color-secondary);
	color: var(--fp-color-white);
	font-size: var(--fp-font-xsmall);

	&:hover,
	&:focus,
	&:active {
		border-color: var(--fp-color-secondary);
		background: var(--fp-color-secondary);
		color: var(--fp-color-white);
	}
	svg {
		display: inline-flex;
		align-items: center;
		fill: var(--fp-color-white);
	}
}

// 검색영역 하단, 섹션상단
.grid-flex-wrap,
.search-bottom-btn,
.sub-top-btn {
	display: flex;
	gap: 4px;
	align-items: center;
	height: 28px;

	&.search-bottom-btn {
		height: 32px;
	}

	&-right {
		justify-content: end;
	}

	.ant-form {
		.search-wrap {
			width: 260px;
			.search-input-info .ant-form-item-control {
				width: 80px;
			}
		}
		.item-wrap {
			> .search-wrap {
				width: 100%;
				.search-input-info {
					+ .search-input {
						flex: 1 0 0;
						min-width: 40%;
					}
				}
			}
		}
	}

	.ant-btn {
		height: 28px;
		font-size: 12px;
	}

	.ant-input-search-button {
		.ant-btn-icon {
			display: inline-block;
		}
	}

	.from-item-wrap {
		display: flex;
		gap: 6px;

		& > .ant-form-item {
			min-width: 100px;
		}

		.ant-form-item,
		.search-wrap {
			width: 140px;
		}

		.ant-select {
			padding: 0 !important;
		}
	}

	//.btn-search,
	.btn-reset {
		&::after {
			content: '';
			display: inline-block;
			width: 14px;
			height: 100%;
			margin-left: 2px;
			background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99996 4.00004H10V1M9.82556 9.01426C9.26646 9.87521 8.44607 10.5342 7.48483 10.8946C6.52359 11.2549 5.47208 11.2976 4.48479 11.0164C3.49751 10.7351 2.62656 10.1449 1.9995 9.33214C1.37244 8.51935 1.02255 7.52689 1.00105 6.50056C0.979555 5.47423 1.28742 4.46805 1.8799 3.62972C2.47237 2.79139 3.31803 2.16521 4.29268 1.84288C5.26732 1.52055 6.31972 1.519 7.29521 1.83878C8.27069 2.15856 9.11798 2.78259 9.71265 3.61937' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center;
			vertical-align: top;
		}
	}

	@at-root {
		.dark-mode {
			.btn-reset {
				&::after {
					background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99996 4.00004H10V1M9.82556 9.01426C9.26646 9.87521 8.44607 10.5342 7.48483 10.8946C6.52359 11.2549 5.47208 11.2976 4.48479 11.0164C3.49751 10.7351 2.62656 10.1449 1.9995 9.33214C1.37244 8.51935 1.02255 7.52689 1.00105 6.50056C0.979555 5.47423 1.28742 4.46805 1.8799 3.62972C2.47237 2.79139 3.31803 2.16521 4.29268 1.84288C5.26732 1.52055 6.31972 1.519 7.29521 1.83878C8.27069 2.15856 9.11798 2.78259 9.71265 3.61937' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}
}

.sub-top-btn-center {
	.sub-top-btn {
		margin: 0 auto;
	}
}

.ant-modal .btnGroup,
.search-bottom-btn {
	.ant-btn {
		height: 32px;

		&.btn-search {
			@include btnPrimaryLine;
			width: 90px;
			padding: 0;
			line-height: 26px;
			&::after {
				content: '';
				display: inline-block;
				width: 14px;
				height: 100%;
				margin-left: 2px;
				background-repeat: no-repeat;
				background-position: center;
				vertical-align: top;
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 11L8.58333 8.58333M9.88889 5.44444C9.88889 7.89904 7.89904 9.88889 5.44444 9.88889C2.98985 9.88889 1 7.89904 1 5.44444C1 2.98985 2.98985 1 5.44444 1C7.89904 1 9.88889 2.98985 9.88889 5.44444Z' stroke='%233579D4' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			}
		}
	}
}

.search-bottom-btn {
	justify-content: flex-end;
}

.search-form {
	.search-bottom-btn {
		padding-right: 8px;
		margin-top: 12px;
		button {
			padding: 0 16px;
			//border-radius: var(--radius);
			font-size: 14px;
		}

		.btn-detail {
			padding: 0 8px;
		}

		.btn-reset {
			width: 90px;
			padding: 0;
		}

		// .btn-search {
		// }
	}
}

.section-search {
	.btn-detail {
		padding: 0 8px;
		background-color: transparent !important;
		border: 0 none;
		font-size: 14px;
		font-weight: var(--font-medium);
		&:hover {
			color: var(--btn-color) !important;
		}

		&::after {
			content: '';
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-left: 4px;
			background: var(--icon-searchform-arr) no-repeat center;
			vertical-align: -1px;
		}

		&.open {
			&::after {
				transform: rotate(180deg);
			}
		}
	}
}

.sub-top-btn {
	margin-bottom: 0;
	margin-left: auto;
	gap: 0 4px;

	.ant-btn {
		gap: 0 4px;

		svg {
			path {
				stroke: var(--base-color);
			}
		}
	}

	.ant-btn-icon {
		display: none;
	}

	.select-item {
		width: 140px;
	}

	@at-root {
		.btn-left-wrap {
			.sub-top-btn {
				margin-left: 0;
				margin-right: auto;
			}
		}
	}

	&.btn-utils {
		height: auto;
		margin-bottom: 8px;

		.utils-area {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			gap: 4px;
			width: 100%;
			height: auto;
		}
	}

	.accordion-btn {
		position: relative;
		width: 20px;
		padding: 0;
		border: 0 none;

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			display: inline-block;
			width: 16px;
			height: 100%;
			margin-left: -8px;
			background: var(--icon-select-arr) no-repeat center;
		}

		&.open {
			&::after {
				transform: rotate(180deg);
			}
		}
	}
}

.sub-top-btn,
.tabs-util-top {
	.division {
		position: relative;
		display: flex;
		gap: 4px;
		align-items: center;
		padding-right: 13px;
		margin-right: 8px;
		&::before {
			content: '';
			position: absolute;
			right: 0;
			bottom: 50%;
			display: block;
			width: 1px;
			height: 16px;
			margin-bottom: -8px;
			background-color: var(--tbl-line-color);
		}
	}
}

//버튼-아이콘
.btn-icon {
	width: auto;
	color: var(--base-color);
	border: none;
	border-radius: 0;

	&.ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
		background-color: var(--point-color);
		color: #ffffff;
	}

	&.active {
		background-color: var(--point-color);
		color: #ffffff;
	}

	&-arrow {
		&-left,
		&-right {
			padding: 0;
			line-height: 0;
			border: none;
		}
	}

	&-download {
		width: 20px;
		height: 20px;
		background: url(../img/icon/icon-download-blue.svg) no-repeat center;
		background-size: 100%;
	}

	&-search {
		width: 18px;
		height: 18px;
		padding: 0;
		background: var(--icon-search-png) no-repeat center;
		background-size: 18px auto;
	}
}

//툴팁
.btn-icon-help {
	height: auto;
	padding: 0;
	line-height: 0;
	&:hover {
		background-color: transparent !important;
	}
	path {
		stroke: var(--base-color);
	}
}

//툴팁 박스
// .ant-tooltip {
// 	.ant-tooltip-inner {
// 		.tooltip-content {
// 		}
// 	}
// }
//토글
.ant-switch {
	min-width: 36px;
	height: 20px;
	.ant-switch-handle {
		width: 16px;
		height: 16px;
	}

	&.ant-switch-checked {
		.ant-switch-handle {
			inset-inline-start: calc(100% - 18px);
		}
	}
}

//
.aui-grid {
	.btn-pin {
		width: 16px;
		height: 16px;
		background-color: transparent;
		border: 0 none;
		text-indent: -9999em;
		background-image: url(../img/btn/btn-pin.svg);
		background-size: 16px auto;
		background-repeat: no-repeat;
		&.on {
			background-image: url(../img/btn/btn-pin-on.svg);
		}
	}
}
