// site map
// TODO : 삭제 S
.site-map {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	padding: 10px 0 40px 0;
	.site-item {
		flex-grow: 1;
		max-width: 150px;
	}
	&.left {
		svg {
			position: absolute;
			top: 5px;
			left: 5px;
		}
	}
	&.right {
		svg {
			margin-left: 4px;
		}
	}
	> div {
		> h2 {
			font-size: 18px;
			margin-bottom: 20px;
		}
		> ul {
			h2 {
				font-size: 16px;
				padding-left: 5px;
				margin-bottom: 15px;
			}
			> li {
				padding-left: 10px;
				position: relative;

				a {
					font-size: 15px;
					color: #505050;
					display: inline-flex;
					align-items: center;
					padding-bottom: 15px;
					text-indent: 16px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				svg {
					float: unset;
					path {
						fill: var(--point-color);
						opacity: 1;
					}
				}
				> div {
					ul {
						margin-bottom: 10px;
						li {
							padding-left: 10px;
							position: relative;
							a {
								color: #808080;
								font-size: 14px;
								padding-bottom: 10px;
							}
							svg {
								float: unset;
								path {
									fill: var(--point-color);
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}
}
// TODO : 삭제 E
